<mat-card>
  <form class="form" (ngSubmit)="onSubmit(f)" #f="ngForm">
      <mat-form-field class="full-width">
        <input matInput
        type="text" 
        placeholder="username"
        id="username"
        name="username"
        ngModel
        required
        >
      </mat-form-field>
    
      <mat-form-field class="full-width">
        <input matInput 
        type="password"
        placeholder="password"
        id="password"
        name="password"
        pattern="^(?=.*\d).{4,16}$"
        ngModel
        required
        >
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" [disabled]="!f.valid">SignUp</button>
</form>
</mat-card>